.btn {
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 0.8rem 2.7rem;
    border-radius: 25px;
    background-color: #1818c7;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.btn:hover {
    background-color: #0a0a91;
}

/**
.seed-input {
    display: block;
    margin: 4% auto;
    background-color: #c6c6c6;
    width: 25%;
    height: 25px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
}
*/